<div class="container border m-2">
    <div class="row">
        <div class="col-xs-12">
            <h3>Task for part 2 component</h3>
            <hr>
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
            <button class="btn btn-primary m-2" (click)="(onToggleDetails())">Display Details</button>
            <p *ngIf="showSecret">Secret Password = Tuna</p>
            <!-- <div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}" [ngClass]="{'white-text' : logItem >=5}">{{ logItem }}</div> -->
            <div *ngFor="let logItem of log; let i = index" [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}" [ngClass]="{'white-text' : i >=4}">{{ logItem }}</div>
        </div>
    </div>
</div>
